import React from 'react';
import './{{pascalCase name}}.scss';

type Props = {};

export const {{pascalCase name}}: React.FC<Props> = () => {
  return (
    <div className="{{kebabCase name}}">
      <p>{{pascalCase name}} コンポーネントです</p>
    </div>
  );
};